/* Your Custom CSS Goes here */
.error
{
    color:red;
}

.tour-type-card.active {
    border-color: #0d6efd !important;
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
}

.dropzone-custom {
    border: 2px dashed #ccc;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    background: #f9f9f9;
    border-radius: 8px;
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dropzone-custom img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 1;
}

.dropzone-icon {
    z-index: 2;
    color: #aaa;
    text-align: center;
    font-size: 14px;
}







.image-preview-box {
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.package-image-preview {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.upload-trigger {
    border: 2px dashed #d0d7de;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    margin: 0 auto;
    transition: border-color 0.3s;
}

.upload-trigger:hover {
    border-color: #0d6efd;
}


#paymentPopup {
    position: fixed !important;
}



#paymentPopup span.status-option:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 3px 6px;
}

